//Helper classes
.d-block{
	display: block !important;
}

.p-l-0{
	padding-left: 0;
}
.p-r-0{
	padding-right: 0;
}
.p-t-0{
	padding-top: 0 !important;
}
.p-b-0{
	padding-bottom: 0;
}
.m-b-0{
	margin-bottom:0;
}
.m-t-0{
	margin-top:0;
}
.m-l-0{
	margin-left:0;
}
.m-r-0{
	margin-right:0;
}
.inactive{
	opacity:0.4;
}
.m-b-10{
	margin-bottom:10px;
}
.m-t-10{
	margin-top:10px;
}
.m-t-17{
	margin-top:17px;
}
.m-b-17{
	margin-bottom:17px !important;
}
.m-t-16{
	margin-top:16px;
}
.m-b-16{
	margin-bottom:16px;
}
.m-t-20{
	margin-top:20px;
}
.m-b-20{
	margin-bottom:20px;
}

.m-b-27{
	margin-bottom:27px;
}
.m-t-27{
	margin-top:27px;
}
.m-t-30{
	margin-top:30px;
}
.m-b-30{
	margin-bottom:30px;
}
.m-t-47{
	margin-top:47px;
}

.m-t-114{
	margin-top:114px;
}
.mobile-block{
	@media #{$mobile-mini}{
		float:none;
		width:100%;
	}
}