body {
    background: $grey_bg; //aside
    aside.fix-width {
        @media #{$above-laptop} {
            width: 228px !important;
        }
       
    }
    .center-content {
        @media #{$above-laptop} {
            width: 641px;
        }
    }
    .column-2-wrapper{
    	aside.col-sm-3 {
        @media #{$above-tablet} {
	            width: 227px !important;
	        }
	    }
	    .center-content{
	        @media #{$above-tablet} {
	            width: 873px;
	        }
	    }
    }
}

.content {
    padding: 30px 0;
}

//.center-ad
.center-ad {
    text-align: center;
    @include clearfix();
    margin: 0 0 20px 0;
}

.main-news {
    @media #{$mobile} {
        margin-top: 20px;
    }
    .btn-primary {
        margin-bottom: 30px;
    }
}
//Login /register Modal 
.login-register-modal{
	form{
		margin-top: 23px;
		.form-group{
			margin-left: 0;
			margin-right: 0;
		}
		input{
			text-align: center;
			margin-bottom: 8px;
			line-height:45px;
			height:45px;
			font-size: 13px;
			color:#A7A9AC;
		}
		.btn{
			width:100%;
			height:45px;
			line-height: 40px !important;
			font-size: 17px !important;
			margin-top: 8px;
		}

	}
	.close-btn{
			right:-12px;
			top:-12px;
			position: absolute;
			padding: 0;
			img{
				margin-right: -1px;
				margin-top: -1px;
			}
		}
	.signin-para{
		font-size: 12px;
		text-align: center;
		color:#58595B;
		margin-top: 36px;
	}
	.socail-btn{
		@media #{$mobile-mini}{
			    width: 100%;
			    margin-top: 10px;
			    text-align: center;
		}
	}
}
// Search form
.search-form{
	.form-group{
		display:table;
		width:100%;
		table-layout:fixed;
		@media #{$mobile}{
				text-align:left;
			}
		.d-t-cell{
			display: table-cell;
			@media #{$mobile-mini}{
				width:100% !important;
			}
		}
		.form-control{
			width:65%;
			@media #{$tablet}{
				width:60%;
			}
			@media #{$mobile}{
			margin-top: 15px;
				width:78%;
			}
			@media #{$mobile-mini}{
				margin-bottom: 10px;
			}
			
		}

	}

}