.main-header {
    background: $sec_color;
    .navbar {
        margin-bottom: 0;
        .navbar-toggle{
            margin-right: 0;
        }
        .navbar-brand {
            padding: 15px 10px;
            padding-left: 0;
            @media #{$mobile}{
                height:auto;
            }
        }
        .nav-primary {
            margin-top: 4px;
            @media #{$above-tablet} {
                margin-left: 36px;
            }
            li {
                @media #{$above-mobile} {
                    margin-right: 19px;
                }
                @media #{$mobile} {
                    border-bottom:1px solid $primary_color;
                }
                &.active{
                    position: relative;
                    a{
                        &:after{
                            position: absolute;
                            content: "";
                            background:$primary_color;
                            height:4px;
                            width:70%;
                            display: block;
                            margin:0 auto;
                            bottom:0;
                            left: 0;
                            right: 0;
                            @media #{$mobile}{
                                width:100%;
                            }

                        }
                    }
                    
                }
            }
            a {
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                &:hover,
                &:focus {
                    background-color: transparent;
                    color: $primary_color;
                }
            }
        }
        .btn-primary {
            margin-top: 11px;
        }
        .login-wrap {
            @media #{$mobile} {
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 15px;
            }
            @media #{$above-tablet} {
                margin-left:40px;
            }
        }
    }
    .icons {
        &:hover, &:focus, &:active {

            background-color: transparent;
        }
    }
}




/* ANIMATED X */

.navbar-toggle.x .icon-bar {
    background: #fff;
}

.navbar-toggle.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}


/* ANIMATED X COLLAPSED */

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}


/* END ANIMATED X */