//Font veriables

$primary_font: Montserrat;
//Colors veriable
$primary_color:#378689;
$primary-light:#368688;
$sec_color:#2B2C2D;
$grey-text:#88817E;
$dark_grey : #524B48;
$black:#100906;
$white:#ffffff;
$light_grey:#e8e9e9;
$grey_bg:#f0efee;
$dark-grey-border:#827d7a;
$dark-green:#37868a;
$info-color:#ebf4f3;